<div class="row">
  <div class="col-md-8 col-lg-8">
    <h3>Výsledky 3. kola</h3>
    <p class="p1">
      Výsledky zápasov a priebežné tabuľky po 3. kole.
    </p>
    <table class="table table-vertical table-noborder table-compact">
      <tbody>
      <tr>
        <th>Dátum konania</th>
        <td>16.12. 2017</td>
      </tr>
      <tr>
        <th>Miesto konania</th>
        <td>Žilina</td>
      </tr>
      <tr>
        <th>Organizátor</th>
        <td>Diamond Gym</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4 col-lg-4">
    <div class="card">
      <div class="card-block">
        <div class="card-text">
          <h4>Na stiahnutie</h4>
          <p class="p1"></p>
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                <a href="../../../assets/documents/league/season-01/vysledky-0103-20171216-ring1v1.pdf" target="_blank"><img src="../../../assets/images/pdf-icon.png" /></a>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                <a href="../../../assets/documents/league/season-01/vysledky-0103-20171216-ring2v1.pdf" target="_blank"><img src="../../../assets/images/pdf-icon.png" /></a>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                <a href="../../../assets/documents/league/season-01/tabulky-0103v1.pdf" target="_blank"><img src="../../../assets/images/pdf-icon.png" /></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                Ring 1
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                Ring 2
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                Tabuľky
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-lg-8">
    <h3>Výsledky 2. kola</h3>
    <p class="p1">
      Výsledky zápasov a priebežné tabuľky po 2. kole.
    </p>
    <table class="table table-vertical table-noborder table-compact">
      <tbody>
      <tr>
        <th>Dátum konania</th>
        <td>18.11. 2017</td>
      </tr>
      <tr>
        <th>Miesto konania</th>
        <td>Trenčín</td>
      </tr>
      <tr>
        <th>Organizátor</th>
        <td>Victory Gym</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4 col-lg-4">
    <div class="card">
      <div class="card-block">
        <div class="card-text">
          <h4>Na stiahnutie</h4>
          <p class="p1"></p>
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                <a href="../../../assets/documents/league/season-01/vysledky-0102-20171118-ring1v1.pdf" target="_blank"><img src="../../../assets/images/pdf-icon.png" /></a>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                <a href="../../../assets/documents/league/season-01/tabulky-0102v1.pdf" target="_blank"><img src="../../../assets/images/pdf-icon.png" /></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                Ring 1
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                Tabuľky
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-lg-8">
    <h3>Výsledky 1. kola</h3>
    <p class="p1">
      Výsledky zápasov a priebežné tabuľky po 1. kole.
    </p>
      <table class="table table-vertical table-noborder table-compact">
        <tbody>
        <tr>
          <th>Dátum konania</th>
          <td>8.10. 2017</td>
        </tr>
        <tr>
          <th>Miesto konania</th>
          <td>Nové Mesto nad Váhom</td>
        </tr>
        <tr>
          <th>Organizátor</th>
          <td>Cerberos Gym</td>
        </tr>
        </tbody>
      </table>
  </div>
  <div class="col-md-4 col-lg-4">
    <div class="card">
      <div class="card-block">
        <div class="card-text">
          <h4>Na stiahnutie</h4>
          <p class="p1"></p>
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                <a href="../../../assets/documents/league/season-01/vysledky-0101-20171008-ring1v1.pdf" target="_blank"><img src="../../../assets/images/pdf-icon.png" /></a>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                <a href="../../../assets/documents/league/season-01/vysledky-0101-20171008-ring2v1.pdf" target="_blank"><img src="../../../assets/images/pdf-icon.png" /></a>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                <a href="../../../assets/documents/league/season-01/tabulky-0101v1.pdf" target="_blank"><img src="../../../assets/images/pdf-icon.png" /></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                Ring 1
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                Ring 2
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="row flex-items-md-around flex-items-md-middle">
                Tabuľky
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>





