<div id="logos">
  <img src="../assets/images/smta.png" />
</div>
<header>
  <div class="header-nav">
    <a routerLink="/" routerLinkActiveOptions="{ exact: true }" class="nav-link nav-text">Úvod</a>
    <a routerLink="/o-smta" routerLinkActiveOptions="{ exact: true }" class="nav-link nav-text">O SMTA</a>
    <a routerLink="/liga" class="nav-link nav-text">Liga</a>
    <a routerLink="/kluby" class="nav-link nav-text">Kluby</a>
    <a routerLink="/dokumenty" class="nav-link nav-text">Dokumenty</a>
    <a routerLink="/kontakty" class="nav-link nav-text">Kontakt</a>
  </div>
</header>
<div id="content">
  <router-outlet></router-outlet>
</div>
<footer>

</footer>
